<!doctype html>
<html class="no-js" lang="" ng-app="webApp">
<head>
  <link rel="home" href="{{ siteUrl }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  {#<title>GaryConstable.co.uk - Welcome The Online Portfolio of Gary Constable</title>#}
  <meta name="description" content="">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <link rel="stylesheet" href="/assets/css/app.css"> 
</head>

  <body id="home">	
    
    <div ng-controller="indexController"></div>
    
    <div id="wrap">
      
      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]-->
      
      {% block nav %}
      <header class="banner">
        <nav class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-lg-4 col-lg-offset-8 hidden-xs">
              <ul class="nav navbar-nav">
                <li class=""><a href="#home">home</a></li>
                <li class=""><a href="#about">about</a></li>
                <li class=""><a href="#contact">contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {% endblock %}
     
      {% block header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block quotes %}
        {#<!-- strip -->
        <div class="quote-container padd-tb-100">
          <div class="container ">
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="lipup white"></div>
                <blockquote>Building creative & effective websites, I specialise in PHP, Modern CMS Development, Angular JS and responsive website development.</blockquote>
              </div>	
            </div>	
          </div>
        </div>
        <!-- strip -->#}
      {% endblock %}

      {% block footer %} 
        <!-- /strip -->
        <div class="footer-container" id="contact">
          <div class="lipup"></div>
          <footer class="wrapper clearfix">
            <h1>Say Hi, Get In Touch</h1>
            <p>I'm always available to chat, let me know about your exciting projects.</p>
            <ul class="social-link clearfix">
              <li><a href="https://github.com/garyconstable">1</a></li>
              <li><a href="https://gist.github.com/garyconstable">1</a></li>
              <li><a href="https://www.linkedin.com/pub/gary-constable/48/9a4/aba">l</a></li>
              <li><a href="https://twitter.com/Gary_Constable">t</a></li>
            </ul>	
            <hr/>
            <ul>
              <li><a href="mailto:garyconstable80@gmail.com?Subject=Gary Constable - Website Enquiry">Contact</a></li>
              <li><a href="https://twitter.com/Gary_Constable">Twitter</a></li>
              <li><a href="https://www.linkedin.com/pub/gary-constable/48/9a4/aba">Linkedin</a></li>
            </ul>
          </footer>
        </div>
        <!-- strip -->
      {% endblock %}
    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48117621-1', 'auto');
        ga('send', 'pageview');
    </script>
    
  </body>
</html>
